# ===============================
# Core ML Stack
# ===============================
numpy
pandas
scipy
scikit-learn
imblearn
xgboost
catboost

# ===============================
# Visualization
# ===============================
matplotlib
seaborn
plotly

# ===============================
# Experimentation / Notebook
# ===============================
ipykernel

# ===============================
# Database
# ===============================
pymongo==3.12

# ===============================
# MLOps / Monitoring
# ===============================
evidently==0.7.20   
dill
PyYAML
from_root
neuro_mf

# ===============================
# AWS / Cloud
# ===============================
boto3
botocore
mypy-boto3-s3

# ===============================
# API Layer
# ===============================
fastapi
uvicorn
jinja2
python-multipart

# ===============================
# Other important libraries
# ===============================
from_root
dataclasses

# ===============================
# Local Package Installation
# ===============================
-e .